extends layout.pug
block layout-content

	form#Index(method="POST")
		section.IssuerOrVerifierLayout
			div.item.IssuerSection
				.ItemLayout
					i(class=`fa ${locale.landingPageFaClass ? locale.landingPageFaClass : "fa-id-card-o"} LargeIcon`)
					p #{locale.index.phrase}
					button.Btn.Large.Landing(id="mainBtn" type="submit") #{locale.index.proceed}
					input(type="hidden" id="verifier" name="verifier" value="true")
			//- div.item.VerifierSection
			//- 	.ItemLayout
			//- 		i.fa.fa-university.LargeIcon
			//- 		p #{locale.Index.rightSideDesc}
			//- 		button.Large.Btn.Rect(onclick=" window.location.href = '/view/admin-login' ") #{locale.Index.proceedButtonText} 

		.container
			h1 #{locale.index.heading}
			p #{locale.index.paragraph}
			.demo-text #{locale.index.demo_text}

	block footer
	include footer.pug

	link(rel="stylesheet" href="/styles/index.css")
	script(src="/js/index.js")