extends layout.pug
block layout-content

	form#Index(method="POST")
		section.IssuerOrVerifierLayout
			div.item.IssuerSection
				.ItemLayout
					//i(class=`fa ${locale.landingPageFaClass ? locale.landingPageFaClass : "fa-id-card-o"} LargeIcon`)
					img(src="/images/pda1.png", alt="Descriptive text", class="index-card")
					p.title #{locale.index.phrase}
					p.text-area #{locale.index.subtitle}
					//- button.Btn.Large.Landing(id="mainBtn" type="submit") #{locale.index.proceed}
					input(type="hidden" id="initiate_pre_authorized" name="initiate_pre_authorized" value="true")
			//- div.item.VerifierSection
			//- 	.ItemLayout
			//- 		i.fa.fa-university.LargeIcon
			//- 		p #{locale.Index.rightSideDesc}
			//- 		button.Large.Btn.Rect(onclick=" window.location.href = '/view/admin-login' ") #{locale.Index.proceedButtonText} 

		.container
			h1 #{locale.index.heading}
			p #{locale.index.paragraph} #[a(href="https://w3c-ccg.github.io/vc-ed/plugfest-3-2023/") #{locale.index.jff}] #{locale.index.paragraph1}
			p #{locale.index.paragraph2}
			p #{locale.index.paragraph3}#[a(href="https://www.ediplomas.gr") #{locale.index.ediplomas}]#{locale.index.paragraph4}
			.demo-text #{locale.index.demo_text}

	block footer
	include footer.pug

	link(rel="stylesheet" href="/styles/index.css")
	script(src="/js/index.js")