extends ../plain-layout.pug
block layout-content
	
	.main-container
		#Login
			.login-flex
				.login-flex.login-box.item
					h2.item #{locale.login.title}
					p.item #{locale.login.description}
					form(name="login" method="post")
						input#csrf-token(type="hidden" name="csrf-token" value="")

						.input-wrap.item
							input.input-field#username(type='text' name='username' value="user" placeholder='Username')
						.input-wrap.item
							input.input-field#password(type='password' name='password' value="secret" placeholder='Password')

						p.invalid-feedback#invalid-username #{locale.login.error.emptyUsername}
						p.invalid-feedback#invalid-password #{locale.login.error.emptyPassword}
						p.invalid-feedback#invalid-credentials #{locale.login.error.invalidCredentials}
						p.invalid-feedback#network-error #{locale.login.error.networkError}
						br
						.login-flex
							button.Btn.Large
								| #{locale.login.btnText}
	link(rel="stylesheet" href="/styles/login.css")
	script(src="/js/alert.js")
	script(src="/js/login.js")