extends ../layout.pug
block layout-content

  .container
    .centered-layout
      form(id="PresentationRequestForm" name="PresentationRequestForm" method="POST")
        .CenteredLayout

          h1 Scan the QR code

          img(src=authorizationRequestQR width=200 height=200)
					
          - const modifiedURL = authorizationRequestURL.replace("openid://cb", wwwalletURL)
          button.Btn.Medium.openwithwalletbutton(type="button" onclick=`window.location.href = '${modifiedURL}';`) Open with DC4EU Wallet

          input(type='hidden' name='state' id='state' value=state)
          input(type='hidden' name='authorizationRequestQR' id='authorizationRequestQR' value=authorizationRequestQR)
          input(type='hidden' name='authorizationRequestURL' id='authorizationRequestURL' value=authorizationRequestURL)

  block footer
    include ../footer.pug

  link(rel="stylesheet" href="/styles/index.css")
  script(src="/js/index.js")

  script(src="/js/presentation-request.js")
  link(rel="stylesheet" href="/styles/scan-qr-verifier.css")
